

body{
    
    font-family:  sans-serif
}
#table1{
    border-radius: 20px;
    background: url(images/scuffedstatic.jpg) ;
    background-position: left top;
    background-repeat: repeat;
    padding: 0px; 
    width:100px;
    height: 200px;
	border:0px;
    width:80%;
	margin-left:auto;
	margin-right:auto;
	border-spacing:10px;
    
}
   
td{
	padding: 5px;
}

	   table#tab1{
		   
		   border:0px;
		   
	   }
	    table#t{
		   height:100px;
		   text-align : left;
	   }
	   
	    table#t,th{
		  
		   text-align : center;
	   }
	  .t01{
		  background-color:#AFB0F0;
          color: cadetblue;
		   
	   }
.t03{
		  background-color:#FFF8DC
		   
	   }
	   
	   #t02{
		   background-color:#F0F8FF;
		   color:#A52A2A;
	   }
	   .edu{
		   
		   font-weight:bold;
		   color : #28A5AF;
		   font-size :18px;
		  
		   
	   }
	   #name{
  
		   font-size:30px;
		   text-align:center;
           color: #630000;
	   }
	   
	 	   .tr1{
		   text-align:center;
	   }
	   #t{width:85%;
		   margin-left:auto;
		  margin-right:auto;
		  
		  border-spacing:0px;}
	  img.profilepic {
		  
		  height:200px;
          width:200px;
        display: block;
          margin-left: auto;
          margin-right: auto; 
           border-radius: 50%;
}
	
	a:hover{
		background-color:red;
        opacity: 0.9;
	} 
	
	.dept{
		color:#300F96;
	}

.w01{
    color: darkgreen;
    font-size: 30px;
    
}
.list
{
    font-size : 30px
}
ul{
    
    color: darkgreen;
}
.red01{
    color: blue;
}
.job{
    color:cadetblue;
    font-size: 30px;
    
}
.quote{
    color:crimson;
     font-size: 30px;
}
.quoteword{
    font-style: italic;
     color:dodgerblue;
     font-size: 25px;
}
.sites{
    font-size: 30px;
    color: coral;
    
}
.listtype{
    list-style-type:square;
}